@page {
    margin: 1.5cm;
}
nav, footer {
    display: none;
}
a, ::marker {
    color: maroon;
}
a::after {
    content: " [" attr(href) "]";
}
a[href^="#"]::after,
a[href^="javascript:"]::after {
    content: "";
}
h2 a::after {
    content: "";
}
h2 {
    break-before: always;
}
h3 {
    page-break-after: avoid;
}
tr, img, svg {
    page-break-inside: avoid;
}
img {
    max-width: 100%;
}
p {
    line-height: 1.5;
}
