/* Color --vars are defined in template/head.*/
:root {
    --sans: BlinkMacSystemFont, -apple-system, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, system-ui, sans-serif;
    --serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, serif;
    --mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, ui-monospace, monospace;
    box-sizing: border-box;
    /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
/* Special pseudo-elements. */
::selection, mark {
    background-color: var(--accent);
    color: var(--on-accent);
    border-radius: 0.2em;
    padding: 0 0.1em;
}
::marker {
    color: var(--accent);
}
:target {
    border: 1px solid var(--fg);
}
* {
    box-sizing: border-box;
    border-spacing: 0;
    font-family: var(--sans);
    scrollbar-color: var(--accent) rgba(0, 0, 0, 0);
    caret-color: var(--accent);
    accent-color: var(--accent);
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: large;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--fg);
    min-height: 100%;
    font-size: max(1em, 16px, 1rem);
}
main {
    padding: 1em;
}
@media (min-device-width: 500px) {
    main {
        margin: 0 auto;
        max-width: 70em;
    }
}
nav, footer {
    padding: 0.5em 1em;
}
p {
    line-height: 1.5;
}
q {
    margin: 0.3em;
    padding: 0.2em;
    display: inline-block;
}
a {
    color: inherit;
    font-family: inherit;
    font-style: italic;
    padding: 0.1em;
    border-radius: 0.2em;
}
a:hover {
    background-color: var(--accent);
    color: var(--on-accent);
}
a:active {
    background-color: var(--fg);
    color: var(--bg);
}
a[href^="#p_"] {
    opacity: 0.5;
}
img {
    width: 100%;
    height: auto;
}
img:not(figure img) {
    margin: 1em 0;
}
hr {
    border: 0.1em solid var(--fg);
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.2em;
}
h4 {
    font-size: 1.1em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 1em;
    font-weight: normal;
}
/* non-clashing headings */
h1+h2, h2+h3, h3+h4, h4+h5, h5+h6 {
    margin-top: .5em;
    padding-top: 0;
}
li {
    padding: 0.3em;
}
dt, dd {
    padding: 0.2em;
}
dt {
    color: var(--accent);
    font-weight: bold;
}
ul, ol {
    padding-left: 1em;
}
pre, blockquote {
    margin: 0px;
    padding: 1em;
    border: 0.1em solid var(--accent);
    overflow-x: auto;
}
pre {
    font-family: var(--mono);
}
blockquote {
    font-family: var(--serif);
    font-style: italic;
}
table {
    min-width: 50%;
    margin: 1em auto;
    border-collapse: collapse;
    border: 0.1em solid var(--fg);
    overflow-x: scroll;
}
figure {
    margin: 1em 0;
}
td, th {
    border: 0.1em solid var(--fg);
    text-align: left;
    font-family: var(--mono);
    padding: 0.2em;
}
thead, tfoot {
    font-weight: bold;
}
caption, figcaption {
    background-color: var(--fg);
    border: 0.1em solid var(--accent);
    color: var(--bg);
    text-align: left;
    padding: 0.5em;
}
footer {
    border-top: 0.1em solid var(--fg);
}
nav {
    background-color: var(--accent);
    color: var(--on-accent);
}
nav a {
    margin: 0.5em;
    color: var(--on-accent);
}
nav a:hover {
    background-color: var(--on-accent);
    color: var(--accent);
}
code, kbd, samp {
    border-radius: 0.3em;
    border: 1px solid var(--accent);
    padding: 0.05em;
    font-family: var(--mono);
}
kbd {
    background-color: var(--gray);
    border: 1px solid var(--fg);
}
time {
    font-weight: bold;
}
/* Adapted from classlesscss. */
video, summary, input, select {
    outline:none;
}
details {
    margin-top: 1em;
    border-radius: 0.2em;
    border-color: var(--fg);
    border-style: solid;
    border-width: 0 0 3px 0;
}

details ::marker {
    color: var(--bg);
}
button, select, summary, input[type=submit] {
    color: var(--bg);
    background-color: var(--fg);
    border-radius: 0.2em;
    padding: 0.4em 0.8em;
    cursor: pointer;
    font-size: 1em;
}
textarea, input:not([type=range]):not([type=submit]) {
	font: var(--sans);
	border-radius: 0.2em;
	border: 0.1em solid var(--fg);
	padding: 0.4em 0.8em;
	color: var(--fg);
	background-color: var(--bg);
}
fieldset select, input:not([type=checkbox]):not([type=radio]), textarea, button, meter, progress {
	display: block;
	width: 100%;
	margin: 0 0 1rem;
}
button, select, input[type=submit]  {
	font-weight: bold;
}
button[disabled], input[disabled] {
    color: var(--gray);
    border-color: var(--gray);
}
fieldset {
    border-radius: 0.2em;
    border: var(--accent);
    padding: .5em 1em;
}
textarea:hover, input:not([type=checkbox]):not([type*='ra']):hover, select:hover, button:hover {
    border: 0.1em solid var(--accent);
}
textarea:focus {
	border: 0.1em solid var(--accent);
}
input:not([type=checkbox]):not([type*='ra']):focus {
	border: 0.15em solid var(--accent);
}
