SECTION2(feedback, Leave feedback! (via email))
<form action=mailto:SELF@aartaka.me>
<label for=subject>Topic/subject</label>
<input name=subject placeholder="What do you want to tell about?" value=DQUOTE()My Thoughts on SQUOTE()TITLE'">
<label for=body>Feedback (required)</label>
<textarea name=body placeholder="What are you thinking?" required>
</textarea>
<button type=submit>Send to SELF@aartaka.me!</button>
</form>
</section>
