</main><footer>
<p>
This website is
A(https://jeffhuang.com/designed_to_last/, Designed to Last)
and generated with the help of
AHERE(this-post-is-ed, ed(1)).
You can view page sources by appending CD(.h) to the page URL.
You can also view alternative CD(.txt), CD(.gmi), CD(.7) (man), and CD(.tex) versions this way.
#include "template/copyright"
</footer>
