#include "head"

<nav>
  <a href="/">Artyom's Chaotic Blog</a>
  <a href="/rss.xml">(RSS)</a>
  <a href="/about">About & Contacts</a>
  <a href="/cv">CV</a>
  <a href="/uses">Uses</a>
  <a href="/projects">Projects</a>
</nav>

<main>

<h1>TITLE</h1>
By AHERE(about, Artyom Bologov)
