#include "head"
<style>
  html {
      scroll-snap-type: y mandatory;
  }
  section, footer {
      min-height: 100vh;
      padding: 1em;
      background-color: var(--bg);
      scroll-snap-align: start;
  }
</style>
<main>
<section>
<header><h1>TITLE<h2>
<i>or SUBTITLE</i>
</header>
<p>Made with love and pure HTML+CSS by Artyom Bologov A(mailto:slides@aartaka.me, (slides@aartaka.me))
</section>
